{% extends 'base.html' %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<section class="body py-5 px-1 px-lg-3">
  <div class="container-fluid mt-5">
      <div class="section-title">
          <div class="pitches row mt-5 mx-0 justify-content-center">
              <div class="col-xl-5 col-lg-6 col-md-8">
                  <div class="pitch-card p-4 bg-white shadow">
                      <h2 class="fw-bold text-center fs-5">Sign In</h2>
                      <div class="pt-5">
                          <form action="" class="">
                              <div class="form-group">
                                  <label for="" class="form-label text-sm">Email</label>
                                  <input type="text" class="form-control" placeholder="youremail@doe.com">
                              </div>
                              <div class="form-group">
                                  <label for="" class="form-label text-sm">Full Name</label>
                                  <input type="text" class="form-control" placeholder="Full name">
                              </div>
                              <div class="form-group pt-2">
                                  <label for="" class="form-label text-sm">Password</label>
                                  <input type="password" class="form-control">
                              </div>   
                              <div class="text-center pt-5">
                                  <button class="btn btn-primary px-4 text-white">
                                      Sign In
                                  </button>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>